*.py[cod]
DEBUG
*.sqlite*
testfiles/
run/*
run/logs/*.log
run/pids/
dist/
*egg*
*build*
*#*#*
*.pkl
*~
*.fits*
*.qastrom
*.match
*.strans
*.trans
*dump*
docs/users.txt
*bundled*
*tmp*
*.gz
*.bz2
.emailsettings
.lcdbsettings
.cookiekey
.classyprojects
*/bin*
*GITREV*
*.o
*.a
*.log
*.status
leaflet-data*
*authkey*
utils/*.c
utils/*.html
utils/*.so
__pycache__/
*.bsp
