*.py[cod]
DEBUG
testfiles/
run/*
run/logs/*.log
run/pids/
dist/
*egg*
*build*
*#*#*
*~
*.fits*
*.qastrom
*.match
*.strans
*.trans
*dump*
docs/users.txt
*bundled*
*tmp*
.emailsettings
.lcdbsettings
.cookiekey
.classyprojects
*/bin*
*GITREV*
*.[oa]
*.log
*.status
leaflet-data*
*authkey*
utils/*.c
utils/*.html
utils/*.so
__pycache__/
*.bsp
*.so*
_*.c
.ipynb_checkpoints
.cache
notebooks/nb-data/test*.*
.DS_Store
