numpy>=1.4.0
scipy
astropy>=1.3
matplotlib
Pillow
jplephem
tornado
pyeebls
requests>=2.20
tqdm
scikit-learn
futures;python_version<"3.2"
paramiko
boto3
awscli
google-api-python-client
google-cloud-storage
google-cloud-pubsub
psycopg2-binary
