recursive-include astrobase/data/cps-assets *
# recursive-include notebooks *
include LICENSE
include README.rst
include astrobase/astrobase.conf
include astrobase/checkplot-viewer.html
include astrobase/checkplot-viewer.js
recursive-include tests *.py
