recursive-include astrobase/data *
recursive-include astrobase/cpserver/cps-assets *
include LICENSE
include README.rst
include astrobase/astrobase.conf
include astrobase/cpserver/checkplot-viewer.html
include astrobase/cpserver/checkplot-viewer.js
recursive-include tests *.py
