<!-- cpbase.html - Waqas Bhatti (wbhatti@astro.princeton.edu) - Dec 2016 -->
<!-- Licence: MIT. See LICENSE for full text. -->

<!-- NOTE: this requires Internet connectivity, since all the CSS and most JS -->
<!-- is loaded from CDNs. -->

<!-- the base template below was taken from: -->
<!-- https://v4-alpha.getbootstrap.com/getting-started/introduction/#starter-template -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Checkplot Server</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
          crossorigin="anonymous">

    <!-- <\!-- bokeh CSS -\-> -->
    <!-- <link rel="stylesheet" -->
    <!--       href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh.min.css" -->
    <!--       integrity="sha256-zsqDF3H1iz6WY3Gpff0mvScEY5EdkppaKQTk9DxOeHA=" -->
    <!--       crossorigin="anonymous" /> -->

    <!-- our own stylesheet -->
    <link rel="stylesheet"
          href="/static/cpserver.css">
  </head>
  <body>


    <div class="container-fluid">

      {% block pagecontent %}

      {% end %}

    </div>

    <!-- Bootstrap JS. -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
      integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
      integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
      integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
      crossorigin="anonymous"></script>

    <!-- math stuff -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.8.1/math.min.js">
    </script>

    <!-- <\!-- add bokeh for interactive plotting -\-> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh.min.js" -->
    <!--         integrity="sha256-qQlCEkdRGla2Em+qyBlwf19MuAsfqsDbou1tN/eDGjs=" -->
    <!--         crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh-api.min.js" -->
    <!--         integrity="sha256-yz7NkcsyhLQsxo6m3Z+3gTS3S+4WXzQ8V8r+8w+464g=" -->
    <!--         crossorigin="anonymous"></script> -->


    {% block pagejs %}

    {% end %}

  </body>
</html>
