.sidebar {
    background: #fffade;
    height: 100%;
}

.sidebar-list {
    height: 325px;
    overflow-y: auto;
    font-size: small;
}

.status-list {
    height: 375px;
    overflow-y: auto;
    font-size: small;
}

#alert-box textarea {
    font-size: 0.8rem;
}

/* .objectinfo-row { */
/*     height: 360px; */
/* } */

img#magseriesplot {
    height: 300px;
}

.sidebar-controls {
    overflow-y: auto;
    font-size: small;
}

.phased-container {
    overflow-x: auto;
    overflow-y: auto;
}

.phased-container-col {
    overflow-y: auto;
}

.phasedlc-container-row:link {
    background: #bbb;
}

.phasedlc-container-row:hover {
    background: #bbb;
}

.phasedlc-container-row:active {
    background: #bbb;
}

.phasedlc-selected {
    background: #bbb;
}

span.cp-tag {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px auto;
    background: #2f4f4f;
    color: #eee;
    white-space: nowrap;
}

div.tracker-obj {
    padding-bottom: 12px;
}

.bot-mrg-10px {
    margin-bottom: 10px;
}

/* fancy spinner thing - http://tobiasahlin.com/spinkit/

to use this:

<div class="spinner">
  spinner text goes here
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

*/

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
}

.spinner > div {
  background-color: #025AA5;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
