{% extends "base.html" %}

{% block pagetitle %}CLASSY: variable star classification in a browser{% end %}

{% block pageheader %}
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">CLASSY</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         href="/">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
{% end %}

{% block pagecontent %}

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <p>Hello World!</p>
    </div>
  </div>

</div>

{% end %}
