{% extends "base.html" %}

{% block pagetitle %}CLASSY: variable star classification in a browser{% end %}

{% block pagecontent %}

<div class="container-fluid">

  <div class="row" id="alert-container">
    <div class="col-sm-12">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>TADA!</p>
    </div>
  </div>


</div>

{% end %}

{% block pagejs %}
<script src="{{ static_url("js/classyweb.js") }}"></script>

<script>
// document.ready JS
$(document).ready(function() {

  // get the websocket
  var classywebsock = new WebSocket({{ websock_url }});

  // bind actions
  classywebsock.onmessage = function (event) {
    msgrouter.backend_message_router(event.data);
  };

  // bind handlers
  classyui.action_setup(classywebsock);

}); // end document ready

</script>
{% end %}
