.sidebar {
    background: #fffade;
    height: 100%;
}

.sidebar select {
    font-size: 90%;
}

.sidebar-list {
    height: 250px;
    overflow-y: auto;
    font-size: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.status-list {
    height: 250px;
    overflow-y: auto;
    font-size: 80%;
    margin-bottom: 10px;
}

.tool-queue {
    height: 200px;
    overflow-y: auto;
    font-size: 75%;
}

#alert-box textarea {
    font-size: 0.8rem;
}

/* .objectinfo-row { */
/*     height: 360px; */
/* } */

img.magseriesplot {
    min-height: 250px;
    max-height: 360px;
}

.sidebar-controls {
    overflow-y: auto;
    font-size: small;
    margin-top: 20px;
}

.phased-container-col {
    min-width: 375px;
}

.zoomable-tile {
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    position: relative;
    top: 0;
    left: 0;
}

.phasedlc-selected {
    background: #bbb;
}

span.cp-tag {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px auto;
    background: #2f4f4f;
    color: #eee;
    white-space: nowrap;
}

div.tracker-obj {
    padding-bottom: 12px;
}

.bot-mrg-10px {
    margin-bottom: 10px;
}

.bot-mrg-20px {
    margin-bottom: 20px;
}

/* fancy spinner thing - http://tobiasahlin.com/spinkit/

to use this:

<div class="spinner">
  spinner text goes here
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

*/

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
}

.spinner > div {
  background-color: #025AA5;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.tool-header-panel {
    margin-top: 10px;
}

.tool-row-panel {
    margin-top: 5px;
}

.display-panel {
    min-height: 330px;
    max-height: 400px;
    /* background: #71c7ac; */
    overflow: hidden;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.tq-box {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px auto;
    background: #c0ffee;
    color: #222;
    font-size: small;
}

#var-varfeatures-results textarea {
    overflow-y: auto;
    font-size: 80%;
}

.help-text {
    font-size: 80%;
    padding-bottom: 5px;
}

.sidebar-label {
    font-size: 75%;
}

.objectinfo-table {
    font-size: 80%;
}

.neighbor-table-row {
    height: 250px;
    overflow-y: auto;
}

.neighbor-num {
    color: blue;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.cmd-dn {
    width: 600px;
    padding: 0.5rem;
}

.modal-content {
    width: 900px;
}

.no-wrap-break {
    white-space: nowrap;
}

canvas#finderchart {
    width: 100%;
}
